.title-color{
    color:#9575CD ;
    padding-bottom: 1rem;
}
.leader-color{
    color: rebeccapurple;
}
.text-styles{
    font-weight: 600;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}